PORT=8080
LOGGING_LEVEL=debug
TZ=Etc/UTC

DATABASE_URL=postgres://username:password@host:port/database

DATABASE_CONNECTION_POOL_MIN=1
DATABASE_CONNECTION_POOL_MAX=10
DATABASE_CONNECTION_POOL_ACQUIRE=60000
DATABASE_CONNECTION_POOL_IDLE=10000
DATABASE_LOGGING=false
