PORT=8080
LOGGING_LEVEL=debug
TZ=Etc/UTC

DATABASE_URL=postgres://username:password@host:port/database

DATABASE_CONNECTION_POOL_MIN=1
DATABASE_CONNECTION_POOL_MAX=10
DATABASE_CONNECTION_POOL_ACQUIRE=60000
DATABASE_CONNECTION_POOL_IDLE=10000
DATABASE_LOGGING=false
DATABASE_USE_SSL=false


PROFILE_LIST_INCLUDE_EMAIL=true
PROFILE_LIST_INCLUDE_EMAIL_LIMIT=30
PROFILE_LIST_INCLUDE_EMAIL_OFFSET=0
PROFILE_LIST_INCLUDE_EMAIL_ONLY_VERIFIED=false
PROFILE_LIST_INCLUDE_EMAIL_ONLY_DEFAULT=false

PROFILE_LIST_INCLUDE_PHONE=true
PROFILE_LIST_INCLUDE_PHONE_LIMIT=30
PROFILE_LIST_INCLUDE_PHONE_OFFSET=0
PROFILE_LIST_INCLUDE_PHONE_ONLY_VERIFIED=false
PROFILE_LIST_INCLUDE_PHONE__ONLY_DEFAULT=false

PROFILE_LIST_INCLUDE_ADDRESS=true
PROFILE_LIST_INCLUDE_ADDRESS_LIMIT=30
PROFILE_LIST_INCLUDE_ADDRESS_OFFSET=0
PROFILE_LIST_INCLUDE_ADDRESS_ONLY_VERIFIED=false
PROFILE_LIST_INCLUDE_ADDRESS_ONLY_DEFAULT=false